/* para Display */
.display {
  background-color: #0D1B2A;
  border: 3px solid #415A77;
  color: #E0E1DD;
  font-size: 3em;
  padding: 20px;
  text-align: right;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden; /* Para manejar números largos */
  white-space: nowrap; /* Para evitar saltos de línea */
  text-overflow: clip; /* Asegura que el texto se corta sin elipsis */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}