/* para Button */
.button {
  background-color: #778DA9;
  border: 3px solid #415A77;

  color:#E0E1DD;

  border-radius: 5px;
  font-size: 2em;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:active {
  background-color: #E0E1DD;
}

.button.operation {
  background-color: #415A77;
  border: 3px solid #778DA9;
  color: white;
}

.button.equals {
  background-color: #549556;
  border: 3px solid #415A77;
  color: white;
}

.button.clear {
  background-color: #b14a43;
  border: 3px solid #415A77;
  color: white;
}